@import "tailwindcss";

@theme {
  --color-background: #141A26;
  --color-surface: #1B2332;
  --color-input: #262D3C;
  --color-accent: #869AFF;
  --color-foreground: #ffffff;
}

animation: var(--animate-pulse); /* pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite */

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@layer base{
  h1 {
    @apply text-xl font-bold mb-4 text-white;
  }
  p1 {
    @apply text-xs font-bold mb-4 text-white;
  }
  .btn {
    @apply text-xs font-normal mb-4 text-white opacity-50 bg-background p-2 px-14 rounded-md;
  }
  .container{
    @apply bg-surface rounded-sm max-h-100 p-5 m-10  

  }


}

